<style>
	
	#game{ 
		MARGIN-RIGHT: auto;
		MARGIN-LEFT: auto;
		height:200px;
		background-color:yellow;
		width:400px;
		vertical-align:middle;
		line-height:200px;
	}
	
	.button
	{
	 font-size:12px;
	 text-align:center;
	 padding:0px;
	 vertical-align:middle ;
	 line-height:22px;
	 margin:0px; 
	 Height:26px;
	 Width:60px;
	}
		
</style>

<script type="text/javascript">
	
	$(document).ready(function(){
		
	});
	
</script>

<div id="game">
	<input type="button" class="button" value="开始游戏"></intput>
</div>