<script src="{{ ASSET_PATH }}geekeeper/js/jquery.min.js"></script>

<script type="text/javascript">
	
	function newGame(){
		var $newdiv = $( "<div id='object1' style='width: 60px; height: 60px; margin: 10px; float: left; background-color: yellow'/>" );
		var $newtext = $( "<p>go go go</p>" );
		var $clear = $("<div clear:both;></div><br/>")
		$("#game").append($newdiv);
		$("#game").append($clear);
		$("#game").append($newtext);
	}
	
	$(document).ready(function(){
		$("#go").click(function(){
			$("#go").hide();
			newGame();
		});
	});
	
</script>

<div id="game">
	<input type="button" id="go" value="开始游戏"></button>
</div>

<br/>
