<script src="{{ ASSET_PATH }}geekeeper/js/jquery.min.js"></script>

<style type="text/css">
	.init_box {
		width: 60px; 
		height: 60px; 
		margin: 10px; 
		float: left; 
		background-color: yellow;
		text-align:center;
		line-height: 60px;
		font-size: xx-small;
	}
	.select_box {
		border-width: 2px;
		border-color: red;
		border-style: solid;
	}
	.help_box {
		background-color: green;
		color: white;
	}

</style>

<script type="text/javascript">
	var win_num = 0;
	var lost_num = 0;
	var game_num = 0;

	var $newbox = $( "<div class='a'/>" ).html("点击选择").addClass("init_box");

	function newGame(){
		game_num++;
		var i;
		var i_id;
		var prise = parseInt(Math.random() * 3);
		var help_id;
		for(i=0; i<3; i++) {
			i_id = game_num + "" + i;
			$newbox.attr("id", i_id);
			if(prise == i) {
				$("#game").append($newbox.clone().addClass("prise"));
			} else {
				$("#game").append($newbox.clone());
			}
		}

		var $newtext = $( "<p>go go go</p>" );
		var $clear = $("<div clear:both;></div><br/>");
		$("#game").append("<div style='clear:both;'>go go go</div>");
		//$("#game").append($newtext);

		$("#game").delegate(".a","click",function(){
			$(this).addClass("select_box").html("我选这个");
			
			//产生一个随机数1或2
			var re = parseInt(Math.random() * 2) + 1;

			var this_id = $(this).attr("id");
			var index = this_id.substring(this_id.length - 1, this_id.length);
			if( $(this).hasClass("prise") ) {
				help_id = game_num + "" + ((parseInt( index ) + re) % 3);
				$("#" + help_id).addClass("help_box").html("木有");
			} else {
				help_id = game_num + "" + ((parseInt( index ) + re) % 3);
				$("#" + help_id).addClass("help_box").html("木有2");				
			}


			$(".a").removeClass("a");
		});
	}

	
	$(document).ready(function(){
		$("#go").click(function(){
			$("#go").hide();
			newGame();
		});
	});
	
</script>

<div id="game">
	<input type="button" id="go" value="开始游戏"></button>
</div>

<br/>
